<div class="home-footer">
  <div class="home-container">
    <div class="clearfix">
      <div class="pull-right">
        <%= link_to t('footer.blog'), '#'%>
        <%= link_to t('footer.help'), '#'%>
        <%= link_to t('footer.contact'), '#'%>
        <%= link_to t('footer.twitter'), '#'%>
        <%= link_to t('footer.feedback'), '#'%>
      </div>
    </div>
  </div>
</div>
